<!--
    Author Jakob Grätz
    Version 07-03-2024 (DD-MM-YYYY)
    (C) Jakob Grätz - 2024
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="mindmap icon" href="/static/favicon.ico">
    <link rel="apple-touch-icon" sizes="32x32" href="/static/favicon.png">
    <script src="/static/main.js" defer></script>
</head>
<body>
    <h1>Mind Maps</h1>
    <button class="mind-map-clear-btn" id="clear-btn">Clear</button>
    <div class="mindmap">
        <div class="mind-map-origin" id="root">
            <input type="text" placeholder="your idea">
            <div class="menu" id="menu">
                <div class="menu-item">Color</div>
                <div class="menu-item">Media</div>
                <div class="menu-item">Settings</div>
            </div>
            <div class="connection-dot top" id="top-dot"></div>
            <div class="connection-dot right" id="right-dot"></div>
            <div class="connection-dot bottom" id="bottom-dot"></div>
            <div class="connection-dot left" id="left-dot"></div>
        </div>
    </div>
    <p style="margin-top: 90px;">
        <strong>Soon to come:</strong><br>
        The design above is a starting point; however I will <br>
        implement the actual mindmap using HTML Canvas
    </p>
    <p>Check out the latest version <a id="beta-link" href="/mind-map">here</a>.</p>
    <p>
        built by Jakob Grätz.
    </p>
</body>
</html>