<!--
    Author Jakob Grätz
    Version 07-03-2024 (DD-MM-YYYY)
    (C) Jakob Grätz - 2024
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/styles.css">
    <script src="/static/main.js" defer></script>
</head>
<body>
    <h1>Mind Maps</h1>
    <button class="mind-map-clear-btn" id="clear-btn">Clear</button>
    <div class="mindmap">
        <div class="mind-map-origin" id="root">
            <input type="text" placeholder="your idea">
            <div class="menu" id="menu">
                <div class="menu-item">Option 1</div>
                <div class="menu-item">Option 2</div>
                <div class="menu-item">Option 3</div>
            </div>
            <div class="connection-dot top" id="top-dot"></div>
            <div class="connection-dot right" id="right-dot"></div>
            <div class="connection-dot bottom" id="bottom-dot"></div>
            <div class="connection-dot left" id="left-dot"></div>
        </div>
    </div>
</body>
</html>