<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="mindmap icon" href="/static/favicon.ico">
    <link rel="apple-touch-icon" sizes="32x32" href="/static/favicon.png">
    <script src="/static/main.js" defer></script>
</head>
<body>
    
    <div id="controls"><h3>Mind Map</h3></div>
    <div id="mind-map-container">
        <div id="mind-map-div"></div>
    </div>
    
    <p>built by Jakob Grätz.</p>
</body>
</html>