/*
* Author Jakob Grätz
* Version 07-03-2024 (DD-MM-YYYY)
* (C) Jakob Grätz - 2024
*/

body {
    font-family: 'Fira Code', monospace;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    color: #333;
    text-align: center;
}

* {
    font-family: 'Fira Code', monospace;
}

.mind-map-clear-btn {
    background-color: #cd2b19;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.mind-map-clear-btn:hover {
    background-color: #ee564e;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
}

.mind-map-clear-btn:active {
    transform: translateY(1px);
    box-shadow: none;
}

.mindmap {
    margin-top: 25px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mind-map-origin {
    width: 400px;
    height: 150px;
    border: 2px solid #333;
    border-radius: 10px;
    padding: 20px;
    display: flex;
}

.mind-map-origin input[type="text"] {
    border: none;
    background: transparent;
    font-size: 16px;
    font-family: inherit;
    flex: 1;
    outline: none;
    text-align: center;
}
